/* 
Sans Serif
Raleway

Color letra azul oscuro -> 050D18
Azul claro -> 149DDD 
Color letra -> 272829
Fondo testimonio -> F5F8FD
Celeste comillas -> C3E8FA
*/
nav{
    position: absolute;
    z-index: 10;
    top: auto;
    right: 10px;
}
#profile-off{
    width: 100px;
}

h1{
    font-family: sans-serif;
}
#foto{
    position: relative;
    display: flex;
    align-items: center;
    height: 900px;
}
#nombre{
    padding-left: 20%;
    color: white;
    font-size: 35px;
}

.header {
    background-image: url("Resources/hero-bg.jpeg");
    background-position: center;
}