/* 
Sans Serif
Raleway

Color letra azul oscuro -> 050D18
Azul claro -> 149DDD 
Color letra -> 272829
Fondo testimonio -> F5F8FD
Celeste comillas -> C3E8FA
*/
h1{
    font-family: sans-serif;
}
#foto{
    position: relative;
    display: flex;
    align-items: center;
    height: 200px;
}
#fotito{
    padding: 0;
    margin: 0;
}
#nombre{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}